<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Customer Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
</head>
<body>
    <div class="container">
        <h1>Customer List</h1>
        <ul class="customer-list">
            {% for customer in customers %}
                <li class="customer-item">
                    <span>ID: {{ customer.customer_id }}</span>
                    <span>{{ customer.firstname }} {{ customer.lastname }}</span>
                    {% if customer.age %}
                        <span>- Age: {{ customer.age }}</span>
                    {% endif %}
                    {% if customer.address %}
                        <span>- Address: {{ customer.address }}</span>
                    {% endif %}

                    <div class="actions">
                        {% if customer.customer_id %}
                            <a href="{% url 'update_customer' customer_id=customer.customer_id %}" class="btn edit-btn">Edit</a>
                            <a href="{% url 'delete_customer' customer_id=customer.customer_id %}" class="btn delete-btn">Delete</a>
                        {% else %}
                            <span>- ID not available</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

